# CONEXIONES A BASES DE DATOS

# 1.Acceso y consumo de datos en MongoDB

In [1]:
!pip install pymongo
!pip install pymongo[srv]

Requirement already satisfied: pymongo in c:\users\german\anaconda3\lib\site-packages (4.3.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\german\anaconda3\lib\site-packages (from pymongo) (2.2.1)
Requirement already satisfied: pymongo[srv] in c:\users\german\anaconda3\lib\site-packages (4.3.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\german\anaconda3\lib\site-packages (from pymongo[srv]) (2.2.1)

In [2]:
# Información extendida sobre PyMongo
# https://pymongo.readthedocs.io/en/stable/index.html

In [1]:
from pymongo import MongoClient

In [2]:
# Conexión con la base de datos.
client = MongoClient('mongodb+srv://bootcamp:GkVGYsyqN45Wtz0o@cluster0.byk0e.mongodb.net/?retryWrites=true&w=majority')

### Consultas a los datos

In [3]:
# Bases de datos existentes en mongo
client.list_database_names()

['bbdd1', 'bbdd2', 'dataBase', 'jhbbdd', 'admin', 'local']

In [4]:
# Colecciones existentes en BBDD1
colecciones = client.bbdd1.list_collection_names()
colecciones

['prueba',
 'test',
 'numAficionados',
 'restaurantes',
 'numAfiniocionados',
 'people',
 'numAficionados2023']

In [5]:
# Consultamos la BBDD importada
output = list(client.bbdd1.people.find({}))
print("Total documentos: ", len(output))
print(output)
print('\n')
print(output[0])

Total documentos:  86
[{'_id': ObjectId('62c5d4f2f99b37f31761ece2'), 'name': 'sue', 'age': 19, 'isActive': 'true', 'hobbies': ['padel', 'surf']}, {'_id': ObjectId('62c5d4f2f99b37f31761ece3'), 'name': 'peter', 'age': 43, 'isActive': 'true', 'hobbies': 'hicking'}, {'_id': ObjectId('62c5d4f2f99b37f31761ece4'), 'name': 'john', 'age': 34, 'isActive': 'true'}, {'_id': ObjectId('62c5d4f2f99b37f31761ece5'), 'name': 'bob', 'age': 42, 'isActive': 'true', 'hobbies': 'surf'}, {'_id': ObjectId('62c5d4f2f99b37f31761ece7'), 'name': 'jane', 'age': 52}, {'_id': ObjectId('62c5d7d874816248b16469d1'), 'name': 'jane', 'age': 52}, {'_id': ObjectId('62e4fd690bee5b2de63e7e4b'), 'name': 'jane', 'age': 52}, {'_id': ObjectId('633977dc3fa796aa8f36fc9a'), 'name': 'jane', 'age': 52}, {'_id': ObjectId('633978b09a28d98395d99c54'), 'name': 'jane', 'age': 52}, {'_id': ObjectId('633ab9f38dda09b155251b48'), 'name': 'pedro', 'age': 52}, {'_id': ObjectId('633bdcbadcb5d4e654670dcd'), 'name': 'sue', 'age': 32}, {'_id': ObjectId('637522d2fe94f29b7e52dd4c'), 'name': 'pedro', 'age': 152}, {'_id': ObjectId('63cd8553e8e75411d5ebee8d'), 'name': 'sue', 'age': 32}, {'_id': ObjectId('63d41a774f8c0f0e3eba25ce'), 'name': 'pedro', 'age': 152}, {'_id': ObjectId('63d41a7b4f8c0f0e3eba25cf'), 'name': 'pedro', 'age': 152}, {'_id': ObjectId('63d41a9e4f8c0f0e3eba25d0'), 'name': 'prueba', 'age': 21}, {'_id': ObjectId('63d41aa64f8c0f0e3eba25d1'), 'name': 'prueba', 'age': 21}, {'_id': ObjectId('63d41ab94f8c0f0e3eba25d2'), 'name': 'prueba', 'age': 21}, {'_id': ObjectId('63d41ab78644e7f3892a1f36'), 'name': 'pedro', 'age': 152}, {'_id': ObjectId('63d41abbb5f502d148e93c28'), 'name': 'pedro', 'age': 152}, {'_id': ObjectId('63d41ac44f8c0f0e3eba25d3'), 'name': 'prueba', 'age': 21}, {'_id': ObjectId('63d41ac06015383f72c420f7'), 'name': 'pedro', 'age': 152}, {'_id': ObjectId('63d41ac1b5f502d148e93c29'), 'name': 'pedro', 'age': 152}, {'_id': ObjectId('63d41ada8644e7f3892a1f37'), 'name': 'pedro', 'age': 52}, {'_id': ObjectId('63d41b2e8644e7f3892a1f38'), 'name': 'pedro', 'age': 52}, {'_id': ObjectId('63d41b2f8644e7f3892a1f39'), 'name': 'pedro', 'age': 52}, {'_id': ObjectId('63d41b2f8644e7f3892a1f3a'), 'name': 'pedro', 'age': 52}, {'_id': ObjectId('63d41b308644e7f3892a1f3b'), 'name': 'pedro', 'age': 52}, {'_id': ObjectId('63d41b498644e7f3892a1f3c'), 'name': 'pedro', 'age': 52}, {'_id': ObjectId('63d41b4a8644e7f3892a1f3d'), 'name': 'pedro', 'age': 52}, {'_id': 9999, 'name': 'pedro', 'age': 152}, {'_id': ObjectId('63d4223d58117f27e56b1215'), 'name': 'sue', 'age': 32}, {'_id': ObjectId('63d4225f14eb590c208430f3'), 'name': 'sue', 'age': 32}, {'_id': ObjectId('63d422654f8c0f0e3eba25e3'), 'name': 'sue', 'age': 32}, {'_id': ObjectId('63d4226b8644e7f3892a1f4d'), 'name': 'sue', 'age': 32}, {'_id': ObjectId('63d42278b5f502d148e93c39'), 'name': 'sue', 'age': 32}, {'_id': ObjectId('63d424a44f8c0f0e3eba25e4'), 'name': 'sue', 'age': 32}, {'_id': ObjectId('63d7881225ba6345248a9d49'), 'name': 'pedro', 'age': 152}, {'_id': ObjectId('63d7882be9428f23f353148d'), 'name': 'pedro', 'age': 124}, {'_id': ObjectId('63d789e3d7e7313a9e351a85'), 'name': 'pedro', 'age': 152}, {'_id': ObjectId('63d792d725ba6345248a9d67'), 'name': 'sue', 'age': 32}, {'_id': ObjectId('63d79326fbeb2d7636676358'), 'name': 'sue', 'age': 32}, {'_id': ObjectId('63d7932f25ba6345248a9d68'), 'name': 'sue', 'age': 32}, {'_id': ObjectId('63d79332e9428f23f353149c'), 'name': 'sue', 'age': 32}, {'_id': ObjectId('63d7935ed4b46b123a8d05ef'), 'name': 'sue', 'age': 32}, {'_id': ObjectId('63d7937466c92e2cb5e451cf'), 'name': 'sue', 'age': 32}, {'_id': ObjectId('63d7a85a66258de72d76cd8e'), 'name': 'pedro', 'age': 152}, {'_id': ObjectId('63d7a9e366258de72d76cd8f'), 'name': 'pedro', 'age': 152}, {'_id': ObjectId('63d7aad966258de72d76cd90'), 'name': 'pedro', 'age': 152}, {'_id': 1, 'name': 'John', 'address': 'Highway 37'}, {'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}, {'_id': 12, 'name': 'William', 'address': 'Central st 954'}, {'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}, {'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}, {'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}, {'_id': 9, 'name': 'Susan', 'address': 'One way 98'}, {'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}, {'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}, {'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}, {'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}, {'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}, {'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}, {'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}, {'_id': ObjectId('63d7ad52e7cea5006409912a'), 'name': 'sue', 'age': 32}, {'_id': ObjectId('63d7bc074bb4a60e9844d21e'), 'name': 'John', 'address': 'Highway 37'}, {'_id': ObjectId('63d7bc1c4bb4a60e9844d21f'), 'name': 'Miguel', 'address': 'Mi casa 37'}, {'_id': ObjectId('63d7bc704bb4a60e9844d220'), 'otracosa': 'Miguel', 'biendiferente': 'Mi casa 37'}, {'_id': ObjectId('63d7be9b4bb4a60e9844d221'), '_Id': 15, 'otracosa': 'Miguel', 'biendiferente': 'Mi casa 37'}, {'_id': ObjectId('63d7beb34bb4a60e9844d222'), '_Id': 15, 'otracosa': 'Miguel', 'biendiferente': 'Mi casa 37'}, {'_id': ObjectId('63fc902e2fe703de3554a7e0'), 'name': 'pedro', 'age': 152}, {'_id': ObjectId('63fc90472fe703de3554a7e1'), 'name': 'pedro', 'age': 111}, {'_id': ObjectId('63fc90512fe703de3554a7e2'), 'name': 'pedro', 'age': 52}, {'_id': ObjectId('6400d47f135c59d5b7e58d62'), 'name': 'John', 'address': 'Highway 37'}, {'_id': ObjectId('6400d47f135c59d5b7e58d63'), 'name': 'Peter', 'address': 'Lowstreet 27'}, {'_id': ObjectId('6400d47f135c59d5b7e58d64'), 'name': 'Amy', 'address': 'Apple st 652'}, {'_id': ObjectId('6400d47f135c59d5b7e58d65'), 'name': 'Hannah', 'address': 'Mountain 21'}, {'_id': ObjectId('6400d47f135c59d5b7e58d66'), 'name': 'Michael', 'address': 'Valley 345'}, {'_id': ObjectId('6400d47f135c59d5b7e58d67'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}, {'_id': ObjectId('6400d47f135c59d5b7e58d68'), 'name': 'Betty', 'address': 'Green Grass 1'}, {'_id': ObjectId('6400d47f135c59d5b7e58d69'), 'name': 'Richard', 'address': 'Sky st 331'}, {'_id': ObjectId('6400d47f135c59d5b7e58d6a'), 'name': 'Susan', 'address': 'One way 98'}, {'_id': ObjectId('6400d47f135c59d5b7e58d6b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}, {'_id': ObjectId('6400d47f135c59d5b7e58d6c'), 'name': 'Ben', 'address': 'Park Lane 38'}, {'_id': ObjectId('6400d47f135c59d5b7e58d6d'), 'name': 'William', 'address': 'Central st 954'}, {'_id': ObjectId('6400d47f135c59d5b7e58d6e'), 'name': 'Chuck', 'address': 'Main Road 989'}, {'_id': ObjectId('6400d47f135c59d5b7e58d6f'), 'name': 'Viola', 'address': 'Sideway 1633'}]


{'_id': ObjectId('62c5d4f2f99b37f31761ece2'), 'name': 'sue', 'age': 19, 'isActive': 'true', 'hobbies': ['padel', 'surf']}

In [6]:
import pandas as pd
import json

In [7]:
pd.json_normalize(output[0])

                        _id name  age isActive        hobbies
0  62c5d4f2f99b37f31761ece2  sue   19     true  [padel, surf]

In [8]:
pd.json_normalize(output)

,_id,name,age,isActive,hobbies,address,otracosa,biendiferente,_Id
0,62c5d4f2f99b37f31761ece2,sue,19.0,true,"[padel, surf]",NaN,NaN,NaN,NaN
1,62c5d4f2f99b37f31761ece3,peter,43.0,true,hicking,NaN,NaN,NaN,NaN
2,62c5d4f2f99b37f31761ece4,john,34.0,true,NaN,NaN,NaN,NaN,NaN
3,62c5d4f2f99b37f31761ece5,bob,42.0,true,surf,NaN,NaN,NaN,NaN
4,62c5d4f2f99b37f31761ece7,jane,52.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
81,6400d47f135c59d5b7e58d6b,Vicky,NaN,NaN,NaN,Yellow Garden 2,NaN,NaN,NaN
82,6400d47f135c59d5b7e58d6c,Ben,NaN,NaN,NaN,Park Lane 38,NaN,NaN,NaN
83,6400d47f135c59d5b7e58d6d,William,NaN,NaN,NaN,Central st 954,NaN,NaN,NaN
84,6400d47f135c59d5b7e58d6e,Chuck,NaN,NaN,NaN,Main Road 989,NaN,NaN,NaN
85,6400d47f135c59d5b7e58d6f,Viola,NaN,NaN,NaN,Sideway 1633,NaN,NaN,NaN

In [10]:
pd.json_normalize(output).explode('hobbies')

,_id,name,age,isActive,hobbies,address,otracosa,biendiferente,_Id
0,62c5d4f2f99b37f31761ece2,sue,19.0,true,padel,NaN,NaN,NaN,NaN
0,62c5d4f2f99b37f31761ece2,sue,19.0,true,surf,NaN,NaN,NaN,NaN
1,62c5d4f2f99b37f31761ece3,peter,43.0,true,hicking,NaN,NaN,NaN,NaN
2,62c5d4f2f99b37f31761ece4,john,34.0,true,NaN,NaN,NaN,NaN,NaN
3,62c5d4f2f99b37f31761ece5,bob,42.0,true,surf,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
81,6400d47f135c59d5b7e58d6b,Vicky,NaN,NaN,NaN,Yellow Garden 2,NaN,NaN,NaN
82,6400d47f135c59d5b7e58d6c,Ben,NaN,NaN,NaN,Park Lane 38,NaN,NaN,NaN
83,6400d47f135c59d5b7e58d6d,William,NaN,NaN,NaN,Central st 954,NaN,NaN,NaN
84,6400d47f135c59d5b7e58d6e,Chuck,NaN,NaN,NaN,Main Road 989,NaN,NaN,NaN
85,6400d47f135c59d5b7e58d6f,Viola,NaN,NaN,NaN,Sideway 1633,NaN,NaN,NaN

In [10]:
# Listar aquella gente con 34 años
list(client.bbdd1.people.find({'age' : 34}))

[{'_id': ObjectId('62c5d4f2f99b37f31761ece4'),
  'name': 'john',
  'age': 34,
  'isActive': 'true'}]

In [9]:
# Listar aquella gente con más de 34 años (>=)
filtro = {'age' : {'$gte': 34}}
list(client.bbdd1.people.find(filtro))

[{'_id': ObjectId('61f2d8a8859375443f5f9a5f'),
  'name': 'peter',
  'age': 43,
  'isActive': True,
  'hobbies': ['hicking']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a60'),
  'name': 'john',
  'age': 34,
  'isActive': True},
 {'_id': ObjectId('61f2d8a8859375443f5f9a61'),
  'name': 'bob',
  'age': 42,
  'isActive': True,
  'hobbies': ['surf']},
 {'_id': ObjectId('61f3d4985ac3827d3b566627'), 'name': 'jane', 'age': 52}]

In [12]:
# Listar aquella gente con entre 34 y 43 años (>= y <=)
filtro = {'age' : {'$in': [34, 43]}}
list(client.bbdd1.people.find(filtro))

[{'_id': ObjectId('61f2d8a8859375443f5f9a5f'),
  'name': 'peter',
  'age': 43,
  'isActive': True,
  'hobbies': ['hicking']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a60'),
  'name': 'john',
  'age': 34,
  'isActive': True}]

In [15]:
# Listar aquella gente de 34 ó 43 años
filtro = {'$or': [{'age' : 34},{'age' : 43}]}
list(client.bbdd1.people.find(filtro))

[{'_id': ObjectId('61f2d8a8859375443f5f9a5f'),
  'name': 'peter',
  'age': 43,
  'isActive': True,
  'hobbies': ['hicking']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a60'),
  'name': 'john',
  'age': 34,
  'isActive': True}]

In [17]:
# Listar aquellos usuarios que cumplan las 2 condiciones
filtro = {'$and' : [{'age' : 34},{'isActive': True}]}
list(client.bbdd1.people.find(filtro))

[{'_id': ObjectId('61f2d8a8859375443f5f9a60'),
  'name': 'john',
  'age': 34,
  'isActive': True}]

In [18]:
# Listar aquellos usuarios cuyo campo hobbies no sea nulo
filtro = {'hobbies' : {'$exists': True}}
list(client.bbdd1.people.find(filtro))

[{'_id': ObjectId('61f2d8a8859375443f5f9a5e'),
  'name': 'sue',
  'age': 19,
  'isActive': True,
  'hobbies': ['padel', 'surf']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a5f'),
  'name': 'peter',
  'age': 43,
  'isActive': True,
  'hobbies': ['hicking']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a61'),
  'name': 'bob',
  'age': 42,
  'isActive': True,
  'hobbies': ['surf']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a62'),
  'name': 'jane',
  'age': 22,
  'isActive': True,
  'hobbies': ['surf', 'padel']}]

In [20]:
# Localizar los usuarios cuyo nombre empiece por s
filtro = {'name' : {'$regex' : 's.*'}}
list(client.bbdd1.people.find(filtro))

[{'_id': ObjectId('61f2d8a8859375443f5f9a5e'),
  'name': 'sue',
  'age': 19,
  'isActive': True,
  'hobbies': ['padel', 'surf']}]

In [22]:
# Listar los usuarios cuyo hobbie sea padel O surf
filtro = {'$or': [{'hobbies':'padel'},{'hobbies':'surf'}]}
list(client.bbdd1.people.find(filtro))

[{'_id': ObjectId('61f2d8a8859375443f5f9a5e'),
  'name': 'sue',
  'age': 19,
  'isActive': True,
  'hobbies': ['padel', 'surf']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a61'),
  'name': 'bob',
  'age': 42,
  'isActive': True,
  'hobbies': ['surf']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a62'),
  'name': 'jane',
  'age': 22,
  'isActive': True,
  'hobbies': ['surf', 'padel']}]

In [23]:
# Listar los usuarios cuyo hobbie sea padel O surf, ordenados por edad de manera descendente
filtro = {'$or': [{'hobbies':'padel'},{'hobbies':'surf'}]}
list(client.bbdd1.people.find(filtro).sort('age', -1))

[{'_id': ObjectId('61f2d8a8859375443f5f9a61'),
  'name': 'bob',
  'age': 42,
  'isActive': True,
  'hobbies': ['surf']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a62'),
  'name': 'jane',
  'age': 22,
  'isActive': True,
  'hobbies': ['surf', 'padel']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a5e'),
  'name': 'sue',
  'age': 19,
  'isActive': True,
  'hobbies': ['padel', 'surf']}]

In [25]:
# Listar los usuarios cuyo hobbie sea padel Y surf
filtro = {'hobbies':['padel','surf']}
list(client.bbdd1.people.find(filtro))

[{'_id': ObjectId('61f2d8a8859375443f5f9a5e'),
  'name': 'sue',
  'age': 19,
  'isActive': True,
  'hobbies': ['padel', 'surf']}]

In [26]:
# Listar los documentos, donde aparezcan todos los elementos especificados en la búsqueda
# Ojo, pq este filtro devuelve distintos resultados al anterior
filtro = {'hobbies': {'$all': ['padel','surf']}}
list(client.bbdd1.people.find(filtro))

[{'_id': ObjectId('61f2d8a8859375443f5f9a5e'),
  'name': 'sue',
  'age': 19,
  'isActive': True,
  'hobbies': ['padel', 'surf']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a62'),
  'name': 'jane',
  'age': 22,
  'isActive': True,
  'hobbies': ['surf', 'padel']}]

### Inserciones

In [31]:
# Insertar un nuevo documento, cuyo nombre sea pedro y su edad 52
documento = {'name': 'pedro', 'age':52}
client.bbdd1.people.insert_one(documento)
list(client.bbdd1.people.find({'name':'pedro'}))

[{'_id': ObjectId('61fd80dabf6f157629516c70'), 'name': 'pedro', 'age': 52}]

In [32]:
# Insertar varios documentos.  
documentos = [
    { "_id": 1, "name": "John", "address": "Highway 37"},
    { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
    { "_id": 3, "name": "Amy", "address": "Apple st 652"},
    { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
    { "_id": 5, "name": "Michael", "address": "Valley 345"},
    { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
    { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
    { "_id": 8, "name": "Richard", "address": "Sky st 331"},
    { "_id": 9, "name": "Susan", "address": "One way 98"},
    { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
    { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
    { "_id": 12, "name": "William", "address": "Central st 954"},
    { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
    { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

client.bbdd1.people.insert_many(documentos)
list(client.bbdd1.people.find())

[{'_id': ObjectId('61f2d8a8859375443f5f9a5e'),
  'name': 'sue',
  'age': 19,
  'isActive': True,
  'hobbies': ['padel', 'surf']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a5f'),
  'name': 'peter',
  'age': 43,
  'isActive': True,
  'hobbies': ['hicking']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a60'),
  'name': 'john',
  'age': 34,
  'isActive': True},
 {'_id': ObjectId('61f2d8a8859375443f5f9a61'),
  'name': 'bob',
  'age': 42,
  'isActive': True,
  'hobbies': ['surf']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a62'),
  'name': 'jane',
  'age': 22,
  'isActive': True,
  'hobbies': ['surf', 'padel']},
 {'_id': ObjectId('61f3d4985ac3827d3b566627'), 'name': 'jane', 'age': 52},
 {'_id': ObjectId('61fd80dabf6f157629516c70'), 'name': 'pedro', 'age': 52},
 {'_id': 1, 'name': 'John', 'address': 'Highway 37'},
 {'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'},
 {'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'},
 {'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'},
 {'_id': 5, 'name': 'Michael', 'address': 'Valley 345'},
 {'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'},
 {'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'},
 {'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'},
 {'_id': 9, 'name': 'Susan', 'address': 'One way 98'},
 {'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'},
 {'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'},
 {'_id': 12, 'name': 'William', 'address': 'Central st 954'},
 {'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'},
 {'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}]

### Eliminación documento/s

In [33]:
# Eliminamos los documentos añadidos en los pasos anteriores
# Eliminar un documento
client.bbdd1.people.delete_one(documento)
list(client.bbdd1.people.find())

[{'_id': ObjectId('61f2d8a8859375443f5f9a5e'),
  'name': 'sue',
  'age': 19,
  'isActive': True,
  'hobbies': ['padel', 'surf']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a5f'),
  'name': 'peter',
  'age': 43,
  'isActive': True,
  'hobbies': ['hicking']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a60'),
  'name': 'john',
  'age': 34,
  'isActive': True},
 {'_id': ObjectId('61f2d8a8859375443f5f9a61'),
  'name': 'bob',
  'age': 42,
  'isActive': True,
  'hobbies': ['surf']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a62'),
  'name': 'jane',
  'age': 22,
  'isActive': True,
  'hobbies': ['surf', 'padel']},
 {'_id': ObjectId('61f3d4985ac3827d3b566627'), 'name': 'jane', 'age': 52},
 {'_id': 1, 'name': 'John', 'address': 'Highway 37'},
 {'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'},
 {'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'},
 {'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'},
 {'_id': 5, 'name': 'Michael', 'address': 'Valley 345'},
 {'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'},
 {'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'},
 {'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'},
 {'_id': 9, 'name': 'Susan', 'address': 'One way 98'},
 {'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'},
 {'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'},
 {'_id': 12, 'name': 'William', 'address': 'Central st 954'},
 {'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'},
 {'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}]

In [34]:
# Eliminar varios documentos.
# Eliminar aquellos documentos con un _id < 4 (filtrado de datos)
filtro = {'_id': {'$lt': 4}}
client.bbdd1.people.delete_many(filtro)
list(client.bbdd1.people.find())

[{'_id': ObjectId('61f2d8a8859375443f5f9a5e'),
  'name': 'sue',
  'age': 19,
  'isActive': True,
  'hobbies': ['padel', 'surf']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a5f'),
  'name': 'peter',
  'age': 43,
  'isActive': True,
  'hobbies': ['hicking']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a60'),
  'name': 'john',
  'age': 34,
  'isActive': True},
 {'_id': ObjectId('61f2d8a8859375443f5f9a61'),
  'name': 'bob',
  'age': 42,
  'isActive': True,
  'hobbies': ['surf']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a62'),
  'name': 'jane',
  'age': 22,
  'isActive': True,
  'hobbies': ['surf', 'padel']},
 {'_id': ObjectId('61f3d4985ac3827d3b566627'), 'name': 'jane', 'age': 52},
 {'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'},
 {'_id': 5, 'name': 'Michael', 'address': 'Valley 345'},
 {'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'},
 {'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'},
 {'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'},
 {'_id': 9, 'name': 'Susan', 'address': 'One way 98'},
 {'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'},
 {'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'},
 {'_id': 12, 'name': 'William', 'address': 'Central st 954'},
 {'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'},
 {'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}]

In [35]:
# Eliminar varios documentos de una vez (filtrado de datos)
# Eliminaremos todos aquellos documentos que 
filtro = {'address': {'$exists': True}}
client.bbdd1.people.delete_many(filtro)
list(client.bbdd1.people.find())

[{'_id': ObjectId('61f2d8a8859375443f5f9a5e'),
  'name': 'sue',
  'age': 19,
  'isActive': True,
  'hobbies': ['padel', 'surf']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a5f'),
  'name': 'peter',
  'age': 43,
  'isActive': True,
  'hobbies': ['hicking']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a60'),
  'name': 'john',
  'age': 34,
  'isActive': True},
 {'_id': ObjectId('61f2d8a8859375443f5f9a61'),
  'name': 'bob',
  'age': 42,
  'isActive': True,
  'hobbies': ['surf']},
 {'_id': ObjectId('61f2d8a8859375443f5f9a62'),
  'name': 'jane',
  'age': 22,
  'isActive': True,
  'hobbies': ['surf', 'padel']},
 {'_id': ObjectId('61f3d4985ac3827d3b566627'), 'name': 'jane', 'age': 52}]

# 2.SQLite

In [9]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

engine = create_engine('sqlite://', echo=False)

In [10]:
engine

Engine(sqlite://)

In [11]:
# Creamos un dataset, para añadir a la BBDD puesto que está vacía
df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
df

     name
0  User 1
1  User 2
2  User 3

In [12]:
# Insertamos la tabla recién creada en la BBDD.  Hay que tener en cuenta que la BBDD está vacía.
df.to_sql('users', con=engine)

# Consultamos la inserción
engine.execute("SELECT * FROM users").fetchall()

[(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

In [13]:
df1 = pd.DataFrame({'name' : ['User 4', 'User 5']})
df1.to_sql('users', con=engine, if_exists='append') # Las opciones disponibles son fail, append, replace
engine.execute("SELECT * FROM users").fetchall()

#fail: Si la tabla no existe, devuelve ValueError
#replace: Borra la tabla existente y crea una nueva con los nuevos datos
#append: Añade nuevos elementos a la tabla existente

[(0, 'User 1'), (1, 'User 2'), (2, 'User 3'), (0, 'User 4'), (1, 'User 5')]

In [14]:
df2 = pd.DataFrame({'name' : ['User 6', 'User 7']})
df2.to_sql('users', con=engine, if_exists='append')
engine.execute("SELECT * FROM users").fetchall()

[(0, 'User 1'),
 (1, 'User 2'),
 (2, 'User 3'),
 (0, 'User 4'),
 (1, 'User 5'),
 (0, 'User 6'),
 (1, 'User 7')]

In [35]:
# Visualizar los nombres de las tablas que contiene la base de datos
nombre_tabla = inspect(engine).get_table_names()
print(nombre_tabla)

['users']

## Using Raw SQL

In [18]:
# Realizamos consulta
rs = engine.execute("SELECT * FROM users")

In [11]:
# Carga directa en dataframe desde la BBDD
df = pd.DataFrame(rs.fetchall())
print(df.head())

   0       1
0  0  User 1
1  1  User 2
2  2  User 3
3  0  User 4
4  1  User 5

In [12]:
# Create 
engine.execute("CREATE TABLE IF NOT EXISTS Clientes (id text, nombre text, apellidos text,edad text, email text)")  
engine.execute("INSERT INTO Clientes (id, nombre, apellidos, edad, email) VALUES ('1','Ramón', 'García Hernandez','44', 'ragahe@yahoo.es')")
engine.execute("INSERT INTO Clientes (id, nombre, apellidos, edad, email) VALUES ('2','María Jose', 'Fernandez Chaparro','57', 'majofe@hotmail.com')")
engine.execute("INSERT INTO Clientes (id, nombre, apellidos, edad, email) VALUES ('3','Pedro', 'Pombo Villanuva','20', 'pepovi@gmail.es')")
engine.execute("INSERT INTO Clientes (id, nombre, apellidos, edad, email) VALUES ('4','Isabel', 'Segura Oliveras','36', 'isseol@yahoo.es')")
#con.close()

In [13]:
# Read
results = engine.execute("SELECT * FROM Clientes")  
for r in results:  
    print(r)

('1', 'Ramón', 'García Hernandez', '44', 'ragahe@yahoo.es')
('2', 'María Jose', 'Fernandez Chaparro', '57', 'majofe@hotmail.com')
('3', 'Pedro', 'Pombo Villanuva', '20', 'pepovi@gmail.es')
('4', 'Isabel', 'Segura Oliveras', '36', 'isseol@yahoo.es')

In [14]:
# Update
engine.execute("UPDATE Clientes SET nombre='María' WHERE id='3'")
results = engine.execute("SELECT * FROM Clientes")  
for r in results:  
    print(r)

('1', 'Ramón', 'García Hernandez', '44', 'ragahe@yahoo.es')
('2', 'María Jose', 'Fernandez Chaparro', '57', 'majofe@hotmail.com')
('3', 'María', 'Pombo Villanuva', '20', 'pepovi@gmail.es')
('4', 'Isabel', 'Segura Oliveras', '36', 'isseol@yahoo.es')

In [15]:
# Delete
engine.execute("DELETE FROM Clientes WHERE id='3'")  
results = engine.execute("SELECT * FROM Clientes")  
for r in results:  
    print(r)

('1', 'Ramón', 'García Hernandez', '44', 'ragahe@yahoo.es')
('2', 'María Jose', 'Fernandez Chaparro', '57', 'majofe@hotmail.com')
('4', 'Isabel', 'Segura Oliveras', '36', 'isseol@yahoo.es')

## Using SQL Expression Language

In [19]:
from sqlalchemy import Table, Column, String, MetaData, Integer

In [20]:
meta = MetaData(engine)

In [21]:
clientes_table =  Table('Clientes2', meta,
                            Column('id',String),
                            Column('nombre',String),
                            Column('apellidos',String),
                            Column('edad',Integer),
                            Column('email',String))

In [22]:
clientes_table # El dato todavía no está en la BBDD sólo en local

Table('Clientes2', MetaData(bind=Engine(sqlite://)), Column('id', String(), table=<Clientes2>), Column('nombre', String(), table=<Clientes2>), Column('apellidos', String(), table=<Clientes2>), Column('edad', Integer(), table=<Clientes2>), Column('email', String(), table=<Clientes2>), schema=None)

In [27]:
meta.tables.keys()

dict_keys(['Clientes2'])

#### Operaciones CRUD

In [21]:
with engine.connect() as con:
    
    #Creamos la tabla en la BBDD
    clientes_table.create()
    # Insertamos un registro
    insert_st = clientes_table.insert().values(id= '1',nombre = 'Ramón', apellidos = 'García Hernandez',edad = 44, email = 'ragahe@yahoo.es')
    con.execute(insert_st)
    
    #Lectura
    select_st = clientes_table.select()
    results = con.execute(select_st)
    for r in results:
        print(r)
        
#Cerramos la conexión con la base de datos
con.close()

('1', 'Ramón', 'García Hernandez', 44, 'ragahe@yahoo.es')

In [22]:
with engine.connect() as con:
    
    #Actualización
    update_st =  clientes_table.update().where(clientes_table.c.nombre=='Ramón').values(edad=50)
    con.execute(update_st)

    
    #Lectura
    select_st = clientes_table.select()
    results = con.execute(select_st)
    for r in results:
        print(r)
        
#Cerramos la conexión con la base de datos
con.close()

('1', 'Ramón', 'García Hernandez', 50, 'ragahe@yahoo.es')

In [23]:
with engine.connect() as con:
    
    #Borrado
    delete_st = clientes_table.delete().where(clientes_table.c.id == "1")
    con.execute(delete_st)
    
    #Lectura
    select_st = clientes_table.select()
    results = con.execute(select_st)
    for r in results:
        print(r)
        
#Cerramos la conexión con la base de datos
con.close()